extends layout

block content
  h1(class='mb-4')= title

  form(method='POST' action='')
    div(class='form-group')
      label(for='name') #[strong Name:]
      input(
        id='name'
        class='form-control'
        type='text'
        placeholder='Electronics, Tools etc.'
        name='name'
        value=(undefined===category ? '' : category.name)
      )
    div(class='form-group')
      label(for='description') #[strong Description:]
      input(
        id='description'
        class='form-control'
        type='text'
        name='description'
        value=(undefined===category ? '' : category.description)
      )
    div(class='form-group')
      label(for='secret') #[strong Secret Password:]
      input(
        id='secret'
        type='password'
        class='form-control col mr-2'
        name='secret'
        placeholder='Enter the secret password'
      )
    button.btn.btn-primary(type='submit') Save

  if errors
   ul(class='p-2')
    for error in errors
     li(class='text-danger')!= error.msg
