extends layout

block content
  h1 #{title}: #{product.name}
  p Description: #{product.description}

  p Do you really want to delete this product?

  form(method='POST' action='' class='col-xs-2')
    div(class='form-group')
      label(for='secret') #[strong Secret Password:]
      div(class='row mx-0')
        input(
          id='secret'
          type='password'
          class='form-control mr-2 mt-2'
          name='secret'
          placeholder='Enter the secret password'
        ) 
        button(class='btn btn-danger mt-2' type='submit') Delete
      input(
        id='productid'
        class='form-control'
        type='hidden'
        name='productid'
        required='true'
        value=product._id
      )
  if error
    p(class='m-0 text-danger')= error