extends layout

block content
  h1 #{title}: #{product.name}
  p Description: #{product.description}

  p Do you really want to delete this product?

  form(method='POST' action='' class='m-3 col-xs-2')
    div(class='form-group row')
      input(
        id='secret'
        type='password'
        class='form-control col mr-2'
        name='secret'
        placeholder='Type the secret password here'
      )
      input(
        id='productid'
        class='form-control'
        type='hidden'
        name='productid'
        required='true'
        value=product._id
      )
      button(class='btn btn-danger' type='submit') Delete
  if error
    p(class='m-0 text-danger')= error